<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Dodavanje jezika</title>
</head>
<body style = "background-color: LightGrey;">
<header th:insert="fragments.html :: nav"></header>
<div align = "center" class="container">
    <h1>Dodavanje novog jezika</h1>
    <form action="#" th:action="@{/admin/dodavanjeJezika/post}" th:object="${jezik}" method="post" th:align="center">
        <div class="form-group">
            <label>Naziv oblasti:</label>
            <input type="text" th:field="*{naziv}" placeholder="Naziv oblasti" class="form-control" required oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')" onchange="this.setCustomValidity('')">
            <br><input class = "btn btn-primary" type="submit" value="Dodajte novi jezik">
        </div>
    </form>
</div>
</body>
</html>