<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body style="background-image: url(/images/slikapozadina.jpg); background-repeat: no-repeat;background-size: cover;">
<header th:insert="fragments.html :: nav"></header>
<h1 id="knHed" class="fontMenjanje glow" align="center">Knowledge Sharing</h1>
<div class="container">
    <div class="row">
    <div class="col-md-6" style="background-image: url(/images/knjige.jpg); background-repeat: no-repeat;background-size: cover; height: 500px;width: 300px;"></div>
        <div class="col-md-6" style="background-color: white;height: 500px;width: 300px; padding-top: 100px">
    <form name="form" th:action="@{/login}" method="post" align="center">
        <fieldset>
            <legend align="center">Molimo ulogujte se</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Nevalidno korisničko ime ili šifra.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Izlogovani ste.
            </div>
            <label for="email" >Email</label><br>
            <input style="border: 2px solid black;
  border-radius: 15px 50px;" type="text" id="email" name="username"><br>
            <label for="sifra" >Šifra</label><br>
            <input style="border: 2px solid black;
  border-radius: 15px 50px;"type="password" id="sifra" name="password"><br><br>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-block" style="align-content: center;">Login</button>
            </div>
        </fieldset>
    </form>
    </div>
    </div>
</div>
</body>
</html>